<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <form>
        <h2 class="text-center mb-4">Bienvenido</h2>

        <div class="form-outline mb-4">
          <p><strong>Esta es mi lección, soy Paulo Jesús Solís Andrade. A continuación, tienes los botones que te
          llevarán a las demás pantallas</strong></p>
        </div>

        <div class="btn-group mb-3" role="group" aria-label="Basic example">
          <a class="btn btn-primary" [routerLink]="['/estudiantes']">Donaciones</a>
        </div>

        <div class="btn-group mb-3" role="group" aria-label="Basic example">
          <a class="btn btn-primary" [routerLink]="['/datos']">Datos</a>
        </div>

      </form>
    </div>
  </div>
</div>
