<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-6">
      <form>
        <h2 class="text-center mb-4">Bienvenido</h2>


        <div>
          <img src="assets/img/foto.jpg" width="101" id="foto">
        </div>

        <div class="form-outline mb-4">
          <p><strong>Nombres: Paulo Jesús <br>Apellidos: Solís Andrade <br> Correo: paulo.solisa@ug.edu.ec</strong></p>
        </div>

        <div class="btn-group mb-3" role="group" aria-label="Basic example">
          <a class="btn btn-primary" [routerLink]="['/estudiantes']">Donaciones</a>
        </div>

        <div class="btn-group mb-3" role="group" aria-label="Basic example">
          <a class="btn btn-primary" [routerLink]="['/home']">Home</a>
        </div>

      </form>
    </div>
  </div>
</div>
